<% @paperName = randomPaperName %>

<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title><%= @paperName %></title>
		<link href="stylesheet.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<h1><%= @paperName %></h1>

		<div class="scroller">

			<div class="revealerBar">
				<a class="revealer" href="#">Submit a quotation</a>
			</div>

			<div class='quotations'>
				<form class="addQuotation hidden" method="post">
					<figure class="quotation">
						<div>
							<blockquote class="body">
								<textarea name="body" placeholder="What was said?" rows="5" tabIndex="0" data-validators="required"></textarea>
							</blockquote>

							<div class="date"></div>

							<figcaption>
								<input name="author" type="text" placeholder="Who said it?" tabIndex="1" data-validators="required" />
							</figcaption>

							<a class="submitLink" href="#" tabIndex="2">Fire it off</a>
							<input name="submitButton" style="display: none" type="submit" />
						</div>
					</figure>
				</form>

				<% for @quotation in quotations %>
					<figure class='quotation'>
						<div>
							<blockquote class="body"><%= ERB::Util::h(@quotation['body']).gsub(/\n/, "<br />") %></blockquote>
							
							<div class="date"><%= @quotation['date'].localtime.strftime("%b. %e, %l:%M %P") %></div>

							<figcaption><%= ERB::Util::h(@quotation['author']) %></figcaption>
						</div>
					</figure>
				<% end %>
			</div>
		</div>

		<script src="media/scripts/lib/mootools-core-1.4.5-full-nocompat-yc.js" type="text/javascript"></script>
		<script src="media/scripts/lib/mootools-more-1.4.0.1-yc.js" type="text/javascript"></script>
		<script src="media/scripts/list.js" type="text/javascript"></script>
		<script src="media/scripts/update.js" type="text/javascript"></script>
	</body>
</html>
