@dark_blue : #001d42;
@dark_gray : #1f2429;
@dark_red  : #380e18;

@border_spacing_horiz    : 200px;
@quotation_spacing_horiz : 70px;

a {
	text-decoration: none;
}

body {
	background      : white url('../media/images/background.jpg') no-repeat 0 0;
	background-size : 100% auto;
	font            : 1em 'Mercury Text G4 Semibold';
}

h1 {
	color         : @dark_gray;
	cursor        : pointer;
	font-family   : 'Historical English Textura';
	font-size     : 75px;
	line-height   : 217px;
	border-bottom : 4px solid @dark_gray;
	padding: 0 0.8em;
	visibility: hidden;
	text-align    : center;
}

.scroller {
	bottom   : 0;
	left     : 0;
	overflow : auto;
	position : fixed;
	right    : 0;
	top      : 217px + 4px;
}